/****************************** feedback page start **********************************/
.feedback-main {
    background-color: #1f1f1f !important;
    color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

/****************************** feedback page start **********************************/

/*********************** Contact us page (form) start ***************************/
#dd{
    background-color: #1f1f1f !important;
    color: whitesmoke;
    }
    #red{
    color: red;
    }
    .contact-inpt{
    margin-top: 6px;
    height: 50px;
    border-radius: 15px !important;
    }
    .contact-input{
    margin-top: 6px;
    border-radius: 15px !important;
    }
    /*********************** Contact us page (form) end ****************************/
    .text-reset{
        text-decoration: none;
       }