/* slider */
#sd1{
    height:500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#sh1{
    padding-right: 8%;
    font-size: 50px;
    font-style: italic;
    }
    #sh2{
        font-size: 70px;
     font-style: italic;
     font-weight: bold;
    }
    #Ahead{
        display: flex;
        align-items: center;
        font-size: 40px;
      }
      #Ahead::before, #Ahead::after{
        flex: 1;
        content: "";
        height: 1px;
        background-color: rgb(51, 49, 49);
      }
/* slider */
/* cards */
#hcards{
  display: flex !important;
  justify-content: center !important;
}
#color{
  background-color: rgb(242, 249, 254);
}
/* cards */
.text-reset{
  text-decoration: none;
 }
 #iframe{
  height: 400px;
  width: 90%;
 }