.box-anime:hover{
    transition-duration: .2s;
    background: rgb(211,74,181);
background: linear-gradient(180deg, rgb(101, 74, 211) 0%, rgb(9, 4, 4) 72%, rgb(150, 45, 202) 100%);
    color: white;
    
    cursor: pointer;}


    #himage1 {
        height: 100vh; /* Full height */
        background-size: cover;
        background-position: center;
    }
    
    #sdiv1 {
        background: rgba(0, 0, 0, 0.5); /* Optional: adds a dark overlay */
        border-radius: 10px;
    }
    
    .sh1 {
        margin-bottom: 20px;
    }
    
    /* Media queries for responsiveness */
    @media (max-width: 768px) {
        #himage1 {
            padding: 20px;
        }
        
        .sh1 {
            font-size: 1.5em; /* Smaller font size on mobile */
        }
    }
    /*  */
    